<div class="compilerWrapper">
  <div class="compiler">
    <div class="editor-options">
      <!-- <mat-form-field appearance="fill" class="mr-2 mb-2">
        <mat-label>Language</mat-label>
        <mat-select disableRipple [(ngModel)]="mode" (ngModelChange)="changeMode()">
          <mat-option *ngFor="let mode of modes" value={{mode.value}}>{{mode.name}}</mat-option>
        </mat-select>
      </mat-form-field> -->
      <select [(ngModel)]="mode" (ngModelChange)="changeMode()">
        <option *ngFor="let mode of modes" value={{mode.value}}>{{mode.name}}</option>
      </select>

      <div class="run-btn" (click)="compile()">
        <mat-icon *ngIf="!loading" style="color: #6CD97E;" aria-hidden="false" aria-label="Example home icon">play_arrow</mat-icon>
        <span *ngIf="!loading">Run</span>
        <div class="loader" *ngIf="loading"></div>

      </div>

      <select [(ngModel)]="theme" (ngModelChange)="changeTheme()">
        <option *ngFor="let theme of themeList" value={{theme.value}}>{{theme.name}}</option>
      </select>
      <!-- <mat-form-field appearance="fill">
        <mat-label>Theme</mat-label>
        <mat-select disableRipple [(ngModel)]="theme" (ngModelChange)="changeTheme()">
          <mat-option *ngFor="let theme of themeList" value={{theme.value}}>{{theme.name}}</mat-option>
        </mat-select>
      </mat-form-field> -->

    </div>
    <div class="codeMirror">
      <ngx-codemirror
        [options]="codeMirrorOptions"
        [(ngModel)]="code"
        [autoFocus]="true"
        (ngModelChange)="handleChange($event)"
      ></ngx-codemirror>
    </div>
    
  </div>
  <div class="console">
    <h2>Input</h2>
    <textarea name="" id=""  cols="50" rows="8" [(ngModel)]="customInput" ></textarea>
    <h2>Output</h2>
    <textarea name="" id=""  cols="50" rows="8" readonly [(ngModel)]="output"></textarea>
  </div>
</div>