<div class="compilerWrapper">
  <div class="compiler">
    <div class="editor-options">
      <mat-form-field appearance="fill" class="mr-2 mb-2">
        <mat-label>Language</mat-label>
        <mat-select disableRipple [(ngModel)]="mode" (ngModelChange)="changeMode()">
          <mat-option value="markdown">Markdown</mat-option>
          <mat-option value="text/typescript">TypeScript</mat-option>
          <mat-option value="python">Python</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Theme</mat-label>
        <mat-select disableRipple [(ngModel)]="theme" (ngModelChange)="changeTheme()">
          <mat-option *ngFor="let theme of themeList" value={{theme.value}}>{{theme.name}}</mat-option>
          <!-- <mat-option value="material">material</mat-option>
          <mat-option value="icecoder">icecoder</mat-option> -->
        </mat-select>
      </mat-form-field>

    </div>
    <div class="ngx-codemirror codeMirror">
      <ngx-codemirror
        class=""
        [options]="codeMirrorOptions"
        [ngModel]="code"
        [autoFocus]="true"
        (ngModelChange)="handleChange($event)"
      ></ngx-codemirror>
    </div>
    
  </div>
</div>