<div class="content">
    <div class="login">
        <h1>Login</h1>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Enter Registration Number</mat-label>
            <input matInput type="text" [(ngModel)]="username">
            <button *ngIf="username" matSuffix mat-icon-button aria-label="Clear" (click)="username=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Enter Password</mat-label>
            <input matInput type="password" [(ngModel)]="password">
            <button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button class="form-field" color="primary" mat-flat-button (click)="login()">Login</button>
        <span>or</span>
        <button [routerLink]="['/register']" class="form-field" mat-stroked-button>Register</button>
    </div>
</div>