@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Roboto:wght@300;400&display=swap');
.page-header {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: #0E1525;
    position: fixed;
    top: 0px;
    height: 60px;
    color: #fff;
    width: 100%;
    line-height: 40px;
    display: flex;
    &__top {
      display: flex;
      justify-content: space-between;
      padding: 0 16px;
    }  
    
    &__toggle {
      font-size: 2em;
      position: fixed;
      right: 10px;
      top: 10px;
    }
    li{
      font-family: 'Fredoka', sans-serif;
      font-weight: 500;
      color: white;
    }
    li:hover{
      padding-left:16px;
      padding-right: 16px;
      padding-bottom: 0px;
      border-bottom:2px solid red ;
      padding-bottom: 0px;
    }
    .signIn{
      background-color: green;
      border-radius: 10px;
      margin: 5px;
    }
    .signUp{
      background-color: red;
      border-radius: 10px;
      margin: 5px;
    }
    .logo{
      font-size: 2em;
      font-family: 'Fredoka', sans-serif;
    }
    .red-tag{
      color: red;
    }
    z-index: 999;
    border-bottom: 1px thin grey;
  }
  
  .navigation {
    opacity: .5;
    height: 0;
    overflow: hidden;
    transition: .7s;
    
    &__item {
      padding-left:16px;
      padding-right: 16px;
      padding-bottom: 0px;
    }
    
    &--visible { 
      opacity: 1;
      height: 200px;
    }
  }
  
  @media (min-width: 480px) { 
    .page-header {
      display: flex;
      position: fixed;
      
      &__top {
        margin-right: auto;
      }
      
      &__top, &__bottom {
        display: block
      }
      
      &__toggle {
        display: none;
      }
    }
    
    .navigation {
      display: block;
      opacity: 1;
      height: auto;
      
      &__item {
        opacity: 0.8;    
        display: inline-block;
        
        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }
    }
  }
  
  body {
    background: #ccc;
    background-size: cover;
    height: 100vh;
  }
