
<header class="page-header">
    <div class="page-header__top">
      <div class='page-header__logo'>LOGO</div>
      <div class="page-header__toggle" (click)="toggleNavbar()">☰</div>
    </div>
    <nav class="page-header__bottom">
      <ul id="navigation" class="navigation">
        <li class="navigation__item">Home</li>
        <a routerLink="code"><li class="navigation__item">Code</li></a>
        <li class="navigation__item">Portfolio</li>
        <li class="navigation__item">Blog</li>
        <li class="navigation__item">Contact</li>
      </ul>
    </nav>
  </header>
  
  
  
  
  
  