<div class="container p-5">
    <table mat-table [dataSource]="questions" class="mat-elevation-z8">
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element" style="cursor: pointer;" (click)="openPreview(element._id)"> <span style="color: rgb(28, 28, 165);">{{element.name}}</span> </td>
      </ng-container>
    
      <ng-container matColumnDef="difficulty">
        <th mat-header-cell *matHeaderCellDef> Difficulty </th>
        <td mat-cell *matCellDef="let element"> {{element.difficulty}} </td>
      </ng-container>
  
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>