<div class="container">
    <div class="form-wrapper">
        <div class="row">
            <mat-form-field appearance="fill" >
                <mat-label>Problem Name</mat-label>
                <input matInput [(ngModel)]="name">
            </mat-form-field>

        </div>
        <div class="row">
            <mat-form-field appearance="fill" >
                <mat-label>Description</mat-label>
                <textarea matInput rows="15" [(ngModel)]="question"></textarea>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="fill" >
                <mat-label>Difficulty</mat-label>
                <mat-select [(ngModel)]="difficulty">
                    <mat-option value="EASY">
                        Easy
                    </mat-option>
                    <mat-option value="MEDIUM">
                        Medium
                    </mat-option>
                    <mat-option value="HARD">
                        Hard
                    </mat-option>
                  </mat-select>
            </mat-form-field>
        </div>
        <div class="row" *ngFor="let i of numberOfTestCases; let ind = index">
            <mat-form-field appearance="fill" style="width: 50%;" >
                <mat-label>Input</mat-label>
                <textarea matInput rows="4" [(ngModel)]="inputs[ind]"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 50%;">
                <mat-label>Output</mat-label>
                <textarea matInput rows="4" [(ngModel)]="outputs[ind]"></textarea>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="example-chip-list" appearance="fill">
                <mat-label>Tags</mat-label>
                <mat-chip-list #chipList aria-label="Fruit selection">
                  <mat-chip *ngFor="let fruit of tags" (removed)="remove(fruit)">
                    {{fruit.name}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input placeholder="Enter Tags..."
                         [matChipInputFor]="chipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
              </mat-form-field>
        </div>
        <div class="row d-flex justify-content-center">
            <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" (click)="addTestCase()">
                <mat-icon>add</mat-icon>
              </button>
        </div>
        <div class="row d-flex justify-content-center m-2">
            <button mat-raised-button color="primary" (click)="contribute()">Submit</button>
        </div>
          
    </div>
</div>