<div class="content">
    <div class="register">
        <h1>Register</h1>
        <form [formGroup]="registrationForm">
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Enter First Name</mat-label>
                <input matInput type="text" formControlName="firstName">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Enter Last Name</mat-label>
                <input matInput type="text" formControlName="lastName">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Enter Registration Number</mat-label>
                <input matInput type="text" formControlName="regdNumber">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Enter Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Enter Email</mat-label>
                <input matInput type="text" formControlName="email">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Enter Phone Number</mat-label>
                <input matInput type="text" formControlName="phoneNumber">
            </mat-form-field>
        </form>
        <button class="form-field" mat-raised-button color="primary" (click)="register()">Register</button>
    </div>
</div>